/*------------------------------------*\
    $ADDITIONS
\*------------------------------------*/
$base-value: 16;


/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
$tablet: 481px;
$desktop: 767px;
$widescreen: 1024px;

$speed: .5s;
$radius: 65px;
$easing: "fade";

$header-height: 100px;

/*------------------------------------*\
    $BASE
\*------------------------------------*/
$base-font-size:    16px!default;
$base-line-height:  24px!default;

/*------------------------------------*\
    $FRAMEWORK
\*------------------------------------*/
$base-spacing: 20px!default;
$triple-spacing: $base-spacing * 3!default;
$double-spacing: $base-spacing * 2!default;
$half-spacing: $base-spacing / 2!default;
$quarter-spacing: $half-spacing / 2!default;

$line-height: $base-line-height / $base-font-size;

/*------------------------------------*\
    $COLOURS
\*------------------------------------*/
$black: #000000;
$white: #FFFFFF;

$brand-color: #F83215;      // Pomegranate
$secondary-brand-color: #708CB1;    // Malibu
$background-color: #2E2F31;         // Shark
