###########
# Vagrant
###########
.vagrant
html

###########
# Frontend
###########
.sass-cache
node_modules
wordpress/wp-config.php
wordpress/wp-content/themes/token/library/css
wordpress/wp-content/themes/token/library/js
wordpress/wp-content/themes/token/library/fonts
wordpress/wp-content/uploads


###########
# Other
###########
.DS_Store
