body {
    @include font('quicksand');
    background: $tertiary-brand-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font('exo');
}

@media (max-width: 767px) {

    .grid-layout,
    .grid-layout .hentry {
        max-width: 100%;
    }

    .single-post-svg {
        display: none;
    }

    .form-submit {
        text-align: center;
    }

    .comment-respond {
        .comment-reply-title,
        .comment-notes,
        .logged-in-as,
        label {
            margin: 5px 10px;
        }
    }

    .nav-links {
        margin: 0 10px;
    }
}


@media only screen and (min-width: 768px) {
    .site-header {
        background-attachment: inherit;
    }

    .svg-container {
        padding-top: 60px;
    }
}


.site-title {
    @include font('juice');
}

.read-more,
input[type="submit"],
.svg-container .single-post-svg .single-svg-bottom .svg-block,
.post-navigation .nav-previous,
.post-navigation .nav-next {
    background-color: $secondary-brand-color;

    &:hover {
        background-color: $secondary-brand-color;
    }
}


.post {
    & > .svg-block {
        display: none;
    }

    .post-bottom-svg {
        display: block;
    }
}

.hentry .post-svg {
    margin-bottom: 0;
}

.nav-svg.svg-block,
.header-svg.svg-block,
.footer-svg.svg-block {
    fill: $primary-brand-color!important;
}

.site-footer {
    padding: 10px 20px;
    color: $white;
    text-align: right;
    font-size: 10px;
    background-color: $primary-brand-color!important;

    a {
        color: inherit;
    }
}

.hentry {
    .svg-block {
        fill: $tertiary-brand-color!important;
    }
}

.footer-svg {
    margin-bottom: 0;
}

article.post,
.post-inner.no-thumb {
    text-align: justify;
}

article.post {
    padding: 50px 30px;
}

.entry-title,
.entry-title a,
#reply-title {
    color: $primary-brand-color;
}

.posted-on:after, .author:after {
    content: '';
}

.svg-container.single-post-svg svg {
    top: 2px;
}

.comments-area {
    margin-top: 30px;
}

input,
textarea {
    border-radius: 0px;
}
