@font-face {
    font-family: "juice";
    src: url('../fonts/juice-regular.woff2') format('woff2'),
         url('../fonts/juice-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "exo";
    src: url('../fonts/exo-bold.woff2') format('woff2'),
         url('../fonts/exo-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "quicksand";
    src: url('../fonts/quicksand-regular.woff2') format('woff2'),
         url('../fonts/quicksand-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
