@mixin font($name) {
    font-family: "#{ $name }", "sans serif", "helvetica", "arial";
}

@mixin fontsize($size) {
    font-size: $size;
    font-size: rem($size);
}

@mixin vendor($name, $argument) {
    -webkit-#{ $name }: #{ $argument };
    -ms-#{ $name }: #{ $argument };
    -moz-#{ $name }: #{ $argument };
    -o-#{ $name }: #{ $argument };
    #{ $name }: #{ $argument };
}

@mixin shave($radius, $position, $color:false) {
    @if ('bottom' == $position) {
        @include vendor(clip-path, polygon(0 0, 0 100%, 100% $radius, 100% 0));
    }

    @if ('top' == $position) {
        &:before {
            @include vendor(clip-path, polygon(0 100%, 0 100%, 100% 100%, 100% $radius));
            background: $color;
            content: "";
            height: 50px;
            position: absolute;
            top: -50px;
            right: 0;
            width: 100%;
        }
    }
}


