@mixin font($name) {
    font-family: #{ $name }, "sans serif", "helvetica", "arial";
}

@mixin fontsize($size) {
    font-size: $size;
    font-size: rem($size);
}

@mixin vendor($name, $argument) {
    -webkit-#{ $name }: #{ $argument };
    -ms-#{ $name }: #{ $argument };
    -moz-#{ $name }: #{ $argument };
    -o-#{ $name }: #{ $argument };
    #{ $name }: #{ $argument };
}

@mixin from($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

@mixin until($device) {
    @media screen and (max-width: $device - 1px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: $tablet - 1px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet) {
        @content;
    }
}

@mixin portable {
    @media screen and (max-width: $desktop - 1px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}

@mixin widescreen {
    @media screen and (min-width: $widescreen) {
        @content;
    }
}
