.btn {
    @include font(exo);
    @include fontsize(15px);
    background-color: $brand-color;
    color: $white;
    cursor: pointer;
    display: block;
    // padding: $half-spacing $double-spacing $base-spacing;
    padding: $base-spacing $base-spacing $double-spacing;
    transition: background-color $speed ease;

    &:hover {
        background-color: $background-color;
        color: $white;
    }
}

.btn-excerpt {
    background: $background-color;

    .btn {
        @include shave(35px, 'bottom');
    }
}
