.comment-respond {
    border: 0;
    color: $white;
    padding: 0;

    #reply-title,
    .comment-notes,
    label {
        margin: $half-spacing;
    }

    #reply-title,
    label {
        @include font(exo);
    }

    .comment-form-email {
        margin: $base-spacing 0;
    }

    .form-submit {
        background: $background-color;

        #submit {
            @include shave(35px, 'bottom');
            @extend %btn;
            float: none;
            text-align: left;
            width: 100%;
        }
    }
}