.nav-links {
    margin-bottom: $base-spacing;

    .nav-previous,
    .nav-next {
        display: inline-block;
        width: 49%;

        a {
            @include font(exo);
            background: $brand-color;
            color: $white;
            padding: $base-spacing;
            transition: background-color $speed ease;
            width: 100%;

            &:hover {
                background-color: $background-color;
                color: $white;
            }
        }
    }

    .nav-next {
        text-align: right;
        float: right;
    }
}
