.nav-links {
    margin-top: $base-spacing;

    .nav-previous,
    .nav-next {
        // @include shave(90%, 'top', $brand-color);
        // @include shave(20%, 'bottom', $brand-color);
        display: inline-block;
        margin-bottom: $base-spacing;
        position: relative;
        text-align: center;
        width: 100%;

        a {
            @include font(exo);
            background: $brand-color;
            color: $white;
            padding: $double-spacing 0;
            transition: background-color $speed ease;

            &:hover {
                background-color: $background-color;
                color: $white;
            }
        }
    }
}
