// Exhale
.exhale-reset {
    margin: 0!important;
}

.exhale {
    margin: $base-spacing;
}

.exhale-half {
    margin: $half-spacing;
}

// Inhale
.inhale {
    padding: $base-spacing;
}

.inhale-top {
    padding-top: $base-spacing;
}

.inhale-bottom {
    padding-bottom: $base-spacing;
}

.inhale-left {
    padding-left: $base-spacing;
}

.inhale-bottom-double {
    padding-bottom: $double-spacing;
}

.inhale-sides-double {
    padding-left: $double-spacing;
    padding-right: $double-spacing;
}
