html {
  height: 100%;
}

body {
    @include font(quicksand);
    background-color: $tertiary-brand-color;
    min-height: 100%;
    position: relative;
}

header,
.header, {
    // background-color: $primary-brand-color;
    color: $white;
    height: $header-height;
    padding: 0 10px;
    width: 100%;
}

footer,
.footer {
    background-color: transparent;
    border: 0;
    bottom: 0;
    color: $white;
    padding: 0 10px;
    position: absolute;
    text-align: right;
    width: 100%;
    z-index: 10;
}

main {
    background-color: $tertiary-brand-color;
    margin-top: $parallax-height;

    @include tablet {
        margin-top: $parallax-height * 2;
    }

    @include desktop {
        margin-top: $parallax-height * 3;
    }
}

article {
    margin-bottom: $double-spacing;

    h1 {
        background: $white;
    }
}



p {
    padding: $half-spacing $double-spacing $base-spacing;
}


