html {
  height: 100%;
}

body {
    @include font(quicksand);
    background-color: $tertiary-brand-color;
    min-height: 100%;
    position: relative;
}

header,
.header, {
    // background-color: $primary-brand-color;
    color: $white;
    height: $header-height;
    padding: 0 10px;
    width: 100%;
}

footer,
.footer {
    background-color: transparent;
    color: $white;
    text-align: right;
}

main {
    background-color: $tertiary-brand-color;
    margin-top: $parallax-height;

    @include tablet {
        margin-top: $parallax-height * 2;
    }

    @include desktop {
        margin-top: $parallax-height * 3;
    }

    section {

        article {
            position: relative;
            margin-bottom: $double-spacing;

            @include tablet {
                &:nth-child(even) {
                    transform: translateY(-6%);
                }
            }

            h1 {
                background: $white;
            }
        }
    }

}


p {
    padding: $half-spacing $double-spacing $base-spacing;
}


