html {
    height: 100%;
}

body {
    @include font(quicksand);
    background-color: $background-color;
    min-height: 100%;
    position: relative;
}

header,
.header, {
    @include shave(55px, 'bottom');
    height: $header-height;
    padding: 0 10px;
    width: 100%;
}

footer,
.footer {
    background-color: transparent;
    color: $white;
    text-align: right;
}

main {
    background-color: $background-color;
}

article {
    @include shave(0, 'top', $white);
    background: $white;
    position: relative;
    margin-top: $double-spacing;

    h1 a,
    p,
    small {
        padding: $half-spacing $base-spacing;
    }

    h1 a {
        padding-top: $double-spacing;
    }

    p {
        padding-bottom: $double-spacing;
    }

    small {
        padding-top: 0;
        padding-bottom: 0;
    }
}

hr {
    @include shave(0, 'top', $background-color);
    background: $background-color;
    border: 0;
    height: 50px;
    margin: 0;
    margin-top: 135px;
    position: relative;
}

small {
    @include fontsize(12px);
}
