html {
    height: 100%;
}

body {
    @include font(sand);
    background-color: $background-color;
    min-height: 100%;
    position: relative;
}

header {
    @include shave(55px, 'bottom');
    background: $background-color;
    // height: $header-height;
    padding: $base-spacing $half-spacing;
    width: 100%;
}

footer {
    background: $background-color;
    border: 0;
    color: $white;
    text-align: right;
    padding: 0 $base-spacing $base-spacing;
}

main {
    background-color: $background-color;
}

article {
    @include shave(0, 'top', $white);
    background: $white;
    position: relative;
    margin-top: $double-spacing;

    p,
    h1,
    small {
        padding: $half-spacing $base-spacing;
    }

    h1 {
        padding-top: $double-spacing;
    }

    p {
        padding-bottom: $double-spacing;
    }

    small {
        padding-top: 0;
        padding-bottom: 0;
    }
}

hr {
    @include shave(0, 'top', $background-color);
    background: $background-color;
    border: 0;
    height: $header-height / 2;
    margin: 0;
    margin-top: 150px;
    position: relative;

    @include tablet {
        margin-top: 290px;
    }
}

small {
    @include fontsize(12px);
}
